/* fonts */
@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/AtkinsonHyperlegible-Regular.ttf);
}

:root {
  font-size: 20px;
}

body {
  background-color: #faf6e9;
  color: #000000;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.dark-mode {
  background-color: #000000;
  color: #faf6e9;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1rem;
  color: #000000;
  text-decoration: underline dotted #f40b0b 11%;
}

.dark-mode a {
  color: #faf6e9;
}

.subheading {
  font-size: 0.9rem;
  color: #685555;
}

.page-decoration {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vw;
  transform: translate(50%, -50%);
  z-index: -1;
  pointer-events: none;
}
